* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 15vh;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 100px;
  padding: 25px 0;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: blue;
  font-size: 17px;
}

@media (max-width: 1024px) {
  nav ul {
    padding: 10px 0;
  }
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding: 15px 0;
  }
}
